<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>Master page</title>

</head>

<body>
            <h1>Je suis dans la master page</h1>

        {% block content  %}  {% endblock %}

        {% block footer  %}  {% endblock %}
</body>
</html>